<div class="page-header">
<h3>Payments<small> Add Coins or Authorize Credit Card</small></h3>
<button ng-click="$ctrl.addCoin('penny')">+1&#162;</button>
<button ng-click="$ctrl.addCoin('nickel')">+5&#162;</button>
<button ng-click="$ctrl.addCoin('dime')">+10&#162;</button>
<button ng-click="$ctrl.addCoin('quarter')">+25&#162;</button>
<button ng-click="$ctrl.returnCoins()">Return Coins</button>
<p>Balance: {{$ctrl.balance | currency:'$'}}<br>

<form ng-submit="$ctrl.authorize($ctrl.creditCardNumber)">
  <input ng-model="$ctrl.creditCardNumber" placeholder="Credit Card Number">
  <button type="submit">Authorize</button>
  <button ng-click="$ctrl.cancel()" type="reset">Cancel</button>
  <strong><p ng-if="$ctrl.creditAuthorized === 1" style="color:green;">Authorized</p></strong>
  <strong><p ng-if="$ctrl.creditAuthorized === 2" style="color:red;">Invalid Card Number</p></strong>
  <span us-spinner="{radius:5, width:5, length: 10}" spinner-key="spinner"></span>
</form>
</div>
