<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand">Make Selection</a>
  <ul class="nav navbar-nav">
    <li><img ng-src="images/cocacola_sm.png"</li>
    <li><img ng-src="images/coke-zero_sm.png"</li>
    <li><img ng-src="images/diet-coke_sm.png"</li>
    <li><img ng-src="images/mirinda_sm.png"</li>
    <li><img ng-src="images/nescafe_sm.png"</li>
    <li><img ng-src="images/sprite_sm.png"</li>
    <li><img ng-src="images/heineken_sm.png"</li>
    <li><img ng-src="images/fanta_sm.png"</li>
    <li><img ng-src="images/corona_sm.png"</li>
    <li><img ng-src="images/duff_sm.png"</li>
  </ul>
</div>

<div class="container">
  <div class="page-header">
    <h3>Payments<small> Add Coins or Authorize Credit Card</small></h3>
    <button>+1&#162;</button>
    <button>+5&#162;</button>
    <button>+10&#162;</button>
    <button>+25&#162;</button>
    <p>Balance: $0.00<br><br>
      <input placeholder="Credit Card Number"><button>Authorize</button>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Selection</h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" ng-src="images/cocacola.png">
            </div>
            <div class="media-body">
              <h4 class="media-heading">CocaCola</h4>
              <p>Price: $1.00<br>
                 Qty Remaining: 5</p>
                 <br>
                 <button>Dispense</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
