
<menu products="$ctrl.products" selected-product="$ctrl.selectedProduct"></menu>

<div class="container">
  <button class="pull-right" ng-click="$ctrl.reset()">Reset</button>
  <payments
    balance="$ctrl.balance",
    credit-card-number="$ctrl.creditCardNumber"
    credit-authorized="$ctrl.creditAuthorized"
    auth-codes="$ctrl.authCodes">
  </payments>
  <product-selection
    products="$ctrl.products"
    selected-product="$ctrl.selectedProduct"
    balance="$ctrl.balance"
    credit-authorized="$ctrl.creditAuthorized"
    auth-codes="$ctrl.authCodes"
    credit-card-number="$ctrl.creditCardNumber">
  </product-selection>
</div>
