<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Selected Product</h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left media-middle">
          <img ng-if="$ctrl.products" class="media-object" ng-src="{{$ctrl.selectedProduct.largeImage}}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{$ctrl.selectedProduct.name}}</h4>
          <p>Item Number: {{$ctrl.selectedProduct.id}}</p>
          <p>Price: {{$ctrl.selectedProduct.price | currency:'$'}}<br>
            Qty Remaining: {{$ctrl.selectedProduct.qty === 0 ? 'Sold Out' : $ctrl.selectedProduct.qty }}</p>
            <br>
            <button ng-click="$ctrl.dispense()">Dispense</button>
          </div>
        </div>
      </div>
    </div>
  </div>
